.navbar {
    background:rgb(102, 40, 184) !important;
    opacity:0.8 !important;
    /* min-height: 10vh; */
}

.navbar:hover {
    opacity:0.9 !important;
}

.navlink {
    font-size: 1.5rem;
    color:whitesmoke;
}

/* 
#nav-toggle {
  position: absolute;
  left: 5px; 
  top:5px;
  
} */


Button > span {
    opacity:0.8;
    color:#fff;
    font-size: 1.5em;
}

span:hover {
    opacity: 1;
}

.profile-btn {
    background-color: rgba(0,200,0,0.8);   
}

.profile-btn  span{
    color:#fff;
}

@media screen and (max-width:768px){
    .navbar {
        min-height: 15vh;
    }
    #nav-items {
        /* padding-top:10vh; */
        font-size:1em;
    }
}



