@media screen and (max-width: 992px) { 
    .signUpForm { 
        width: "80%";
        padding:"20px auto";
        /* background: yellow; */

    } 
  } 
    
  /* On screens that are 600px wide or less, 
    the background color is yellow */ 
  @media screen and (max-width: 600px) { 
    .signUpForm { 
      width:"100%";
      
    } 
  }